*,
::after,
::before{
    box-sizing: border-box;
}
:root{
    --primary-color: #f3eae5;
    --text-dark: #2c2724;
    --white: #ffffff;
    --max-width: 1200px;
}

body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
}

a{
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins';

}
.sidebar-nav li{
    list-style: none;
}

h4{
    font-family: 'Poppins', san-serif;
    font-size: 1.275rem;
    color: var(--bs-emphasis-color);
}

/* Layout for admin dashboard skeleton */
.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar{
    max-width:264px;
    min-width:264px;
    background: var(--bs-dark);
    transition: all 0.35s ease-in-out;
}

.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow:hidden;
    transition: all 0.35s ease-in-out;
    width:100%;
    background: var(--bs-dark-bg-subtle);
}

/* Sidebar Elements Style */
.sidebar-logo{
    padding: 1.15rem
}

.sidebar-logo a{
    color: #e9ecef;
    font-size: 1.15rem;
    font-weight: 600;
}

.sidebar-nav{
    flex-grow: 1;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}

.sidebar-header{
    color: #e9ecef;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link{
    padding: .625rem 1.625rem;
    color: #e9ecef;
    position: relative;
    display: block;
    font-size: 0.875rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after{
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after{
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.avatar{
    height: 40px;
    width:40px;
}

.navbar-expand .navbar-nav{
    margin-left: auto;   
}

.content{
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

@media (min-width:768px){
    .content{
        max-width: auto;
        width: auto;
    }
}

.main .card{
    box-shadow:0 0 .075rem 0 rgba(34, 46, 60, .05);
    margin-bottom: 24px;
}

.illustration{
    background-color: var(--bs-primary-bg-subtle);
    color: var(--bs-emphasis-color); 
}

.illustration-img{
    max-width: 150px;
    width:100%;
}

/* Sidebar Toggle */
#sidebar.collapsed{
    margin-left: -264px;
}

/* Footer and Nav*/
@media (max-width:767.98px){
    .navbar,
    footer{
        width:100vw;
    }
}

/*Theme toggle */
.theme-toggle{
    position: fixed;
    top: 50%;
    transform: translateY(-65%);
    text-align: center;
    z-index:10;
    right: 0;
    left: auto;
    border:none;
    background-color: var(--bs-body-color);
}

html[data-bs-theme="dark"] .theme-toggle .fa-sun,
html[data-bs-theme="light"] .theme-toggle .fa-moon{
    cursor: pointer;
    padding:10px;
    display: block;
    font-size:1.25rem;
    color: #FFF;
}

html[data-bs-theme="dark"] .theme-toggle .fa-moon{
    display:none;
}

html[data-bs-theme="light"] .theme-toggle .fa-sun{
    display:none;
}

/* Login Styles */
.box-area{
    width: 930px;
}

/* Right box */
.right-box{
    padding: 40px 30px 40px 40px;
}

::placeholder{
    font-size: 15px;
}

/* Responsive login*/
@media only screen and (max-width: 765px){
    .box-area{
        margin: 0 10px;
    }
    .left-box{
        height: 100px;
        overflow: hidden;
    }
    .right-box{
        padding: 20px;
    }
}

/* modal styling */
div.uploadBtn{
    width: 200px;
    height: 100px;
    background: url('../images/camera.png');
}

input[type="file"] {
    visibility: none;
    width: 100%;
    height:100%;
    position:absolute;
}

.imageUploadedOrNot{
    display: none;
}

#blankImg{
    max-width: 100%;
}

.upload{
    width:125px;
    position: relative;
    margin: auto;
}

.upload img{
    border-radius: 50%;
}
.upload .round{
    position: absolute;
    background: #0004FF;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    overflow:hidden;
}

.upload .round input[type="file"]{
    position: absolute;
    transform: scale(2);
    opacity: 0;
    cursor: pointer;
}

/* Styling for homepage/
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0.938em;
}

.column{
    margin-left: -0.938em;
    margin-right: -0.938em;
}

.column .row{
    padding: 0 0.938em;
}

.flexwrap{
    display: flex;
    flex-wrap: wrap;
}

.flexcenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexitem{
    display: flex;
    align-items: center;
}

.flexcol{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-links a:hover{
    color: var(--secondary-color);
}

.second-links a:hover{
    color: var(--light-text-color);
}
.icon-small, .icon-large{
    display: flex;
    align-items: center;
    padding: 0 0.25em;
    font-weight: normal;
}

.icon-small {
    font-size: 1.25em;
    margin: auto;
}

.icon-small {
    font-size: 1.25em;
    padding: 0 0.75em 0 0;
}

#id .slide img{
    width:125px;
}

@media screen and (min-width: 992px){
    .container{
        padding: 0 2em;
    }
}*/

/*.index_p img{
    display: flex;
    width: 100%;
}

.index_p .container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 0;
    position: relative;
    isolation: isolate;
    display: grid;
    gap: 2rem;
    overflow: hidden;
}

.index_p .container .container__left{
    padding-inline: 1rem;
    text-align:center;
}

.index_p .container .container__left h1{
    margin-bottom: 2rem;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    color: var(--text-dark);
}

.index_p .container .container__left .btn{
    padding: 1rem 2rem;
    letter-spacing: 2px;
    color: var(--white);
    background-color: var(--text-dark);
    border-radius: 5rem;
}

.index_p .container .container__left .btn:hover{
    color: var(--text-dark);
    background-color: var(--primary-color);
}

.index_p .container .container__right{
    position: relative;
    isolation: isolate;
    display: grid;
    gap: 2rem;
}

.index_p .container .container__left::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    transform-origin: left;
    height: 80%;
    background-color: var(--primary-color);
    border-radius: 1rem;
    z-index: -1;
    animation: show .75s 1.25s ease-in-out forwards;
}

@keyframes show{
    0%{
        width: 100%;
    }
    100%{
        width: calc(100% -2rem);
    }
}

.index_p .container .images{
    display: flex;
    align-items: center;
    justify-content: center;
}

.index_p .container .tent-1{
    max-width: 300px;
    transform: translateX(1rem);
    border-radius: 1rem;
    box-shadow: 5px  5px 20px rgba(0,0,0,0.2);
}

.index_p .container .tent-2{
    max-width: 180px;
    transform: translateX(-1rem);
    border-radius: 1rem;
    box-shadow: 5px  5px 20px rgba(0,0,0,0.2);
}

.index_p .container .content{
    padding-block: 0 5rem;
    padding-inline: 2rem;
    text-align: center;
}

.index_p .container .content h4{
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight:500;
    color: var(--text-dark);
}

.index_p .container .content h2{
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight:700;
    color: var(--text-dark);
}

.index_p .container .content h3{
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight:600;
    color: var(--text-dark);
}

.index_p .container .content p{
    line-height: 1.75rem;
    color: var(--text-dark);
}

.index_p .container .location{
    position:absolute;
    left: 1rem;
    bottom: 1 rem;
    padding: 1rem 2rem 1rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: .9rem;
    font-weight: 600;
    color: var(--text-dark);
    background-color: var(--primary-color);
    border: 10px solid var(--white);
    border-bottom: none;
}

.location span{
    padding: 5px;
    font-size: 1.5rem;
    color: var(--text-dark);
    background-color: var(--white);
    border-radius: 10px;
}

.socials{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.social a{
    font-size: 1.25rem;
    color: var(--text-dark);
}

.index_p .container {
    grid-template-columns: 2fr 3fr;
    align-items: center;
    padding: 2rem 0;
}

.index_p .container__left {
    text-align: left;
}

@media(wdith >1024px){
    .index_p .container__right{
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }

    .index_p .container__right::before{
        bottom: unset;
        top:0;
        height:90%;
    }

    .index_p .images{
        flex-direction: column;
    }

    .index_p .tent-1{
        width:calc(100% + 10rem);
        max-width: 325px;
        transform: translate(-2rem 1rem);
    }

    .index_p .tent-2{
        max-width: 200px;
        transform: translate(4rem -1rem);
    }

    .index_p .content{
        padding-block: 5rem;
        text-align: left;
        max-width: 400px;
        margin-inline-start: unset;
    }
}*/

.carousel-item{
    height:80vh;
    min-height: 300px;
}

.carousel-caption{
    bottom: calc(100% - 70%);
    z-index: 2;
}

.carousel-caption h5{
    font-size: 45px;
    text-decoration: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p{
    width:60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}

.w-100{
    height: 100vh;
}

/*responsinve*/
@media only screen and (min-wdth:768px) and (max-width: 991px){
    .carousel-caption{
        bottom:;
    }
}
@media only screen and (max-width: 767px){
    .carousel-caption{
        bottom: calc(100% - 60%);
    }

    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption a{
        padding: 10px 15px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.6;
        font-size:12px;
    }
}